{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-room') }}
{% endblock %}

{% block body %}
    <h1 class="text-center">Gestion des salles</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">photo</th>
                <th scope="col">Pays</th>
                <th scope="col">Ville</th>
                <th scope="col">Adresse</th>
                <th scope="col">CP</th>
                <th scope="col">Capacité</th>
                <th scope="col">Catégories</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <th scope="row">{{ room.id }}</th>
                <td>{{ room.title }}</td>
                <td>{{ room.description|truncate(30) }}</td>
                <td>{{ room.picture }}</td>
                <td>{{ room.country }}</td>
                <td>{{ room.city }}</td>
                <td>{{ room.address }}</td>
                <td>{{ room.postalCode }}</td>
                <td>{{ room.capacity }}</td>
                <td>{{ room.category }}</td>
                <td class="admin-button">
                    <a href="{{ path('room_show', {id: room.id}) }}"><i class="fas fa-search"></i></a>
                    <form 
                        class="persist-form" 
                        data-persist-room="{{ room.id }}" 
                        action="{{ path("admin_persist_room", {id: room.id}) }}"
                    >
                        <button><i class="fas fa-edit"></i></button>
                    </form>
                    <form 
                        class="delete-form" 
                        data-delete-room="{{ room.id }}" 
                        action="{{ path("admin_delete_room", {id: room.id}) }}"
                    >
                        <button><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(rooms) }}
    </div>

    <form method="post" action="{{ path('admin_persist_room') }}" id="persist-room">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="_token" value="{{ csrf_token('persist-room') }}">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input type="text" id="title" class="form-control" placeholder="Titre de la salle" value="">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" rows="3" placeholder="Description de la salle">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="capacity">Capacité</label>
                    <input type="number" id="capacity" class="form-control" placeholder="Capacité de la salle" value="">
                </div>
                <div class="form-group">
                    <label for="category">Catégorie</label>
                    <select id="category" class="form-control">
                        <option value="meeting">Réunion</option>
                        <option value="office">Bureau</option>
                        <option value="training">Formation</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="country">Pays</label>
                    <select id="country" class="form-control">
                        <option value="France">France</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="city">Ville</label>
                    <select id="city" class="form-control">
                        <option value="Paris">Paris</option>
                        <option value="Lyon">Lyon</option>
                        <option value="Marseille">Marseille</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="address">Adresse</label>
                    <textarea id="address" class="form-control" rows="3">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="postalCode">Code Postal</label>
                    <input type="number" id="postalCode" class="form-control" placeholder="Code postal de la salle">
                </div>
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin-room') }}
{% endblock %}
