{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-room') }}
    {{ encore_entry_link_tags('admin-room-persist') }}
{% endblock %}

{% block body %}
    <h1 class="text-center">Gestion des salles</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">photo</th>
                <th scope="col">Pays</th>
                <th scope="col">Ville</th>
                <th scope="col">Adresse</th>
                <th scope="col">CP</th>
                <th scope="col">Capacité</th>
                <th scope="col">Catégories</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <th scope="row">{{ room.id }}</th>
                <td>{{ room.title }}</td>
                <td>{{ room.description|truncate(30) }}</td>
                <td>{{ room.picture }}</td>
                <td>{{ room.country }}</td>
                <td>{{ room.city }}</td>
                <td>{{ room.address }}</td>
                <td>{{ room.postalCode }}</td>
                <td>{{ room.capacity }}</td>
                <td>{{ room.category }}</td>
                <td class="admin-button">
                    <a href="{{ path('room_show', {id: room.id}) }}"><i class="fas fa-search"></i></a>
                    <form 
                        class="update-form"
                        data-update-room="{{ room.id }}" 
                        action="{{ path("admin_room_get", {id: room.id}) }}"
                    >
                        <button><i class="fas fa-edit"></i></button>
                    </form>
                    <form 
                        class="delete-form" 
                        data-delete-room="{{ room.id }}" 
                        action="{{ path("admin_room_delete", {id: room.id}) }}"
                    >
                        <button><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(rooms) }}
    </div>

    <hr>

    {{ include('admin/room/_persist.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin-room') }}
    {{ encore_entry_script_tags('admin-room-persist') }}
{% endblock %}
